<div class="lineups-compare-middle">
  <table class="lineups-compare-middle-table">
    <colgroup>
      <col class="outerCol" />
      <col class="centerCol" />
      <col class="outerCol" />
    </colgroup>
    <thead>
      <tr>
        <th class="table-header" colspan="3">Highlighted stats</th>
      </tr>
      <tr>
        <th class="table-subheader" colspan="3">(Past 3 months)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="statRow rating">
        <td class="lineups-compare-middle-table-stat left-stat">1.17</td>
        <td class="lineups-compare-middle-table-center-stat">Rating 2.0</td>
        <td class="lineups-compare-middle-table-stat right-stat best-stat">
          1.23
        </td>
      </tr>
      <tr class="statRow kpr">
        <td class="lineups-compare-middle-table-stat left-stat">0.73</td>
        <td class="lineups-compare-middle-table-center-stat">
          <span class="gtSmartphone-only">Kills per round</span
          ><span class="smartphone-only">KPR</span>
        </td>
        <td class="lineups-compare-middle-table-stat right-stat best-stat">
          0.77
        </td>
      </tr>
      <tr class="statRow dpr">
        <td class="lineups-compare-middle-table-stat left-stat best-stat">
          0.59
        </td>
        <td class="lineups-compare-middle-table-center-stat">
          <span class="gtSmartphone-only">Deaths per round</span
          ><span class="smartphone-only">DPR</span>
        </td>
        <td class="lineups-compare-middle-table-stat right-stat">0.59</td>
      </tr>
      <tr class="statRow kast">
        <td class="lineups-compare-middle-table-stat left-stat">73.5%</td>
        <td class="lineups-compare-middle-table-center-stat">KAST</td>
        <td class="lineups-compare-middle-table-stat right-stat best-stat">
          73.7%
        </td>
      </tr>
      <tr class="statRow impact">
        <td class="lineups-compare-middle-table-stat left-stat">1.15</td>
        <td class="lineups-compare-middle-table-center-stat">Impact</td>
        <td class="lineups-compare-middle-table-stat right-stat best-stat">
          1.27
        </td>
      </tr>
      <tr class="statRow adr">
        <td class="lineups-compare-middle-table-stat left-stat">74.9</td>
        <td class="lineups-compare-middle-table-center-stat">
          <span class="gtSmartphone-only">Average damage per round</span
          ><span class="smartphone-only">ADR</span>
        </td>
        <td class="lineups-compare-middle-table-stat right-stat best-stat">
          78.2
        </td>
      </tr>
      <tr class="center">
        <td class="compare-button" colspan="3">
          <a
            href="/stats/players/compare/19164/sunpayus/16207/dank1ng"
            class="compare-link"
            >Full comparison</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
