<div class="liveMatchesContainer" bis_skin_checked="1">
  <div
    class="liveMatches"
    data-scorebot-url="https://scorebot-lb.hltv.org"
    bis_skin_checked="1"
  >
    <div
      class="liveMatch-container"
      data-scorebot-id="2356031"
      data-team1-id="9806"
      data-team2-id="10867"
      data-hide-map-before-live="true"
      data-maps="Ancient,Nuke,Dust2"
      stars="0"
      lan="false"
      filteraslive="true"
      team1="9806"
      team2="10867"
      bis_skin_checked="1"
    >
      <div
        class="liveMatch"
        data-livescore-match="2356031"
        bis_skin_checked="1"
      >
        <a
          href="/matches/2356031/apeks-vs-masonic-pinnacle-cup-iv"
          class="match a-reset"
        >
          <div class="matchInfo" bis_skin_checked="1">
            <div class="matchTime matchLive" bis_skin_checked="1">LIVE</div>
            <div class="matchRating matchLive" bis_skin_checked="1">
              <i class="fa fa-star faded"></i><i class="fa fa-star faded"></i
              ><i class="fa fa-star faded"></i><i class="fa fa-star faded"></i
              ><i class="fa fa-star faded"></i>
            </div>
            <div class="matchMeta" bis_skin_checked="1">bo3</div>
          </div>
          <div class="matchTeams text-ellipsis" bis_skin_checked="1">
            <div class="matchTeam" bis_skin_checked="1">
              <div class="matchTeamLogoContainer" bis_skin_checked="1">
                <img
                  alt="Apeks"
                  src="https://img-cdn.hltv.org/teamlogo/jQNQrVkbuuI7H74d9HR8Qu.png?ixlib=java-2.1.0&amp;w=50&amp;s=0d6243348c864e8e4ea3125db388165b"
                  class="matchTeamLogo day-only"
                  title="Apeks"
                /><img
                  alt="Apeks"
                  src="https://img-cdn.hltv.org/teamlogo/jQNQrVkbuuI7H74d9HR8Qu.png?invert=true&amp;ixlib=java-2.1.0&amp;sat=-100&amp;w=50&amp;s=dd1f295a71264905ae14c634c9bc49b9"
                  class="matchTeamLogo night-only"
                  title="Apeks"
                />
              </div>
              <div class="matchTeamName text-ellipsis" bis_skin_checked="1">
                Apeks
              </div>
              <div class="matchTeamScore" bis_skin_checked="1">
                <span
                  class="currentMapScore trailing"
                  data-livescore-current-map-score=""
                  data-livescore-team="9806"
                >
                  1</span
                ><span class="mapScore">
                  (<span
                    data-livescore-maps-won-for=""
                    data-livescore-team="9806"
                    class="none"
                    >0</span
                  >)</span
                >
              </div>
            </div>
            <div class="matchTeam" bis_skin_checked="1">
              <div class="matchTeamLogoContainer" bis_skin_checked="1">
                <img
                  alt="MASONIC"
                  src="https://img-cdn.hltv.org/teamlogo/LXy16DLCLqmbZWSr4RxeQu.svg?ixlib=java-2.1.0&amp;s=dcd79250b3b5e2e757a89b7c27c6770d"
                  class="matchTeamLogo"
                  title="MASONIC"
                />
              </div>
              <div class="matchTeamName text-ellipsis" bis_skin_checked="1">
                MASONIC
              </div>
              <div class="matchTeamScore" bis_skin_checked="1">
                <span
                  class="currentMapScore leading"
                  data-livescore-current-map-score=""
                  data-livescore-team="10867"
                >
                  2</span
                ><span class="mapScore">
                  (<span
                    data-livescore-maps-won-for=""
                    data-livescore-team="10867"
                    class="none"
                    >0</span
                  >)</span
                >
              </div>
            </div>
          </div>
          <div class="matchEvent" bis_skin_checked="1">
            <div class="matchEventLogoContainer" bis_skin_checked="1">
              <img
                alt="Pinnacle Cup IV"
                src="https://img-cdn.hltv.org/eventlogo/EmfuD5ldTaGoPlx4Oba5GO.png?ixlib=java-2.1.0&amp;w=50&amp;s=e572808a8ec2011f73fc049fb46b25d9"
                class="matchEventLogo day-only"
                title="Pinnacle Cup IV"
              /><img
                alt="Pinnacle Cup IV"
                src="https://img-cdn.hltv.org/eventlogo/TFFQYYaHx6lsx7GRm5yBRi.png?ixlib=java-2.1.0&amp;w=50&amp;s=f3553881bb6ef5fb00a81b5166aace26"
                class="matchEventLogo night-only"
                title="Pinnacle Cup IV"
              />
            </div>
            <div class="matchEventName gtSmartphone-only" bis_skin_checked="1">
              Pinnacle Cup IV
            </div>
          </div> </a
        ><a
          href="/betting/analytics/2356031/apeks-vs-masonic-pinnacle-cup-iv"
          class="matchAnalytics"
          title="Odds &amp; prediction for match"
        >
          <div class="analyticsLink" bis_skin_checked="1">Odds</div>
        </a>
      </div>
      <div
        class="scorebot-container"
        id="matchScorebotId2356031"
        bis_skin_checked="1"
      ></div>
      <div class="expand-match-btn" bis_skin_checked="1">Expand</div>
    </div>
    <div
      class="liveMatch-container"
      data-scorebot-id="2356054"
      data-team1-id="6211"
      data-team2-id="10672"
      data-hide-map-before-live="true"
      data-maps="Default,Nuke,Dust2,Vertigo,Inferno"
      stars="0"
      lan="false"
      filteraslive="true"
      team1="6211"
      team2="10672"
      bis_skin_checked="1"
    >
      <div
        class="liveMatch"
        data-livescore-match="2356054"
        bis_skin_checked="1"
      >
        <a
          href="/matches/2356054/renegades-vs-vertex-esl-australia-nz-championship-season-14"
          class="match a-reset"
        >
          <div class="matchInfo" bis_skin_checked="1">
            <div class="matchTime matchLive" bis_skin_checked="1">LIVE</div>
            <div class="matchRating matchLive" bis_skin_checked="1">
              <i class="fa fa-star faded"></i><i class="fa fa-star faded"></i
              ><i class="fa fa-star faded"></i><i class="fa fa-star faded"></i
              ><i class="fa fa-star faded"></i>
            </div>
            <div class="matchMeta" bis_skin_checked="1">bo5</div>
          </div>
          <div class="matchTeams text-ellipsis" bis_skin_checked="1">
            <div class="matchTeam" bis_skin_checked="1">
              <div class="matchTeamLogoContainer" bis_skin_checked="1">
                <img
                  alt="Renegades"
                  src="https://img-cdn.hltv.org/teamlogo/KN-bogp5T6YcaAbR-8QuaG.svg?ixlib=java-2.1.0&amp;s=30510c644332be4cf0b93e4df7e9afa5"
                  class="matchTeamLogo"
                  title="Renegades"
                />
              </div>
              <div class="matchTeamName text-ellipsis" bis_skin_checked="1">
                Renegades
              </div>
              <div class="matchTeamScore" bis_skin_checked="1">
                <span
                  class="currentMapScore leading"
                  data-livescore-current-map-score=""
                  data-livescore-team="6211"
                >
                  16</span
                ><span class="mapScore">
                  (<span
                    data-livescore-maps-won-for=""
                    data-livescore-team="6211"
                    class="leading"
                    >2</span
                  >)</span
                >
              </div>
            </div>
            <div class="matchTeam" bis_skin_checked="1">
              <div class="matchTeamLogoContainer" bis_skin_checked="1">
                <img
                  alt="VERTEX"
                  src="https://img-cdn.hltv.org/teamlogo/ZPOMeV-A7jIauovhvFTlV9.png?ixlib=java-2.1.0&amp;w=50&amp;s=2df9ac8ae452e5ba5c9e947c55e7a2de"
                  class="matchTeamLogo"
                  title="VERTEX"
                />
              </div>
              <div class="matchTeamName text-ellipsis" bis_skin_checked="1">
                VERTEX
              </div>
              <div class="matchTeamScore" bis_skin_checked="1">
                <span
                  class="currentMapScore trailing"
                  data-livescore-current-map-score=""
                  data-livescore-team="10672"
                >
                  12</span
                ><span class="mapScore">
                  (<span
                    data-livescore-maps-won-for=""
                    data-livescore-team="10672"
                    class="trailing"
                    >0</span
                  >)</span
                >
              </div>
            </div>
          </div>
          <div class="matchEvent" bis_skin_checked="1">
            <div class="matchEventLogoContainer" bis_skin_checked="1">
              <img
                alt="ESL Australia &amp; NZ Championship Season 14"
                src="https://img-cdn.hltv.org/eventlogo/3i2ZPXM3p9wiwNvgJ6W6-8.png?ixlib=java-2.1.0&amp;w=50&amp;s=191526a4131be47a572dd413339c00d4"
                class="matchEventLogo"
                title="ESL Australia &amp; NZ Championship Season 14"
              />
            </div>
            <div class="matchEventName gtSmartphone-only" bis_skin_checked="1">
              ESL Australia &amp; NZ Championship Season 14
            </div>
          </div> </a
        ><a
          href="/betting/analytics/2356054/renegades-vs-vertex-esl-australia-nz-championship-season-14"
          class="matchAnalytics"
          title="Odds &amp; prediction for match"
        >
          <div class="analyticsLink" bis_skin_checked="1">Odds</div>
        </a>
      </div>
      <div
        class="scorebot-container"
        id="matchScorebotId2356054"
        bis_skin_checked="1"
      ></div>
      <div class="expand-match-btn" bis_skin_checked="1">Expand</div>
    </div>
  </div>
</div>
