<tr>
  <td
    style="font-size: 18px; text-align: center; vertical-align: center"
    width="15%"
  >
    <strong>1 MAY- 30 JUN</strong>
  </td>
  <td style="padding: 0px 0px 0px 15px" width="80%">
    <span style="font-size: 24px; font-weight: bold"
      ><img
        draggable="false"
        role="img"
        class="emoji"
        alt="🇵🇱"
        src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1f5-1f1f1.svg"
        width="24"
        height="24"
      />
      <a href="www.hltv.org" color="inherit" /> PLTK SPRING 2022</span
    ><br />PLTK<br />NTSC, Online League
  </td>
</tr>
