

<tr className="row nowrap">
  <td className="date">
    <a href="/match/${match.id}" bis_skin_checked="1">
      <span>
        {matchDate.getDay()}/{matchDate.getMonth()}{" "}
        {`'${matchDate.getFullYear() % 100}`}</span
      >
    </a>
  </td>
  <td
    className="team1 text-ellipsis gtSmartphone-only underlined winner"
    title={player1.alias}
  >
    <div className="flagAlign" bis_skin_checked="1">
      <img
        alt={player1.country}
        src={module.getPlayerFlag(player1)}
        className="flag flag"
        title={player1.country}
      />
      <a
        href={`/player/${player1.alias}`}
        className="text-ellipsis"
        bis_skin_checked="1"
      >
        {player1.alias}</a
      >
    </div>
  </td>

  <td className="smartphone-only logo-only" title="{player1.alias}">
    <img
      alt={player1.alias}
      className="logo"
      title={player1.alias}
      src={module.getPlayerFlag(player1)}
    />
  </td>
  <td
    className="team2 text-ellipsis gtSmartphone-only underlined"
    title={player2.alias}
  >
    <div className="flagAlign" bis_skin_checked="1">
      <img
        alt={player2.country}
        src={module.getPlayerFlag(player2)}
        className="flag flag"
        title={player2.country}
      />
      <a
        href="/player/${player2.alias}"
        className="text-ellipsis"
        bis_skin_checked="1"
      >
        {player2.alias}</a
      >
    </div>
  </td>
  <td className="smartphone-only logo-only" title="{player2.alias}">
    <img
      alt={player2.alias}
      className="logo"
      title={player2.alias}
      src={module.getPlayerFlag(player2)}
    />
  </td>
  <td
    className="event text-ellipsis underlined"
    title={event.name}
  >
    <a
      href={`/event/${event.id}`}
      className=""
      bis_skin_checked="1"
    >
      {event.name}</a>
  </td>
  <td className="map bold">
    <div className="dynamic-map-name-short" bis_skin_checked="1">Bo3</div>
    <div className="dynamic-map-name-full" bis_skin_checked="1">Bo5</div>
  </td>

  <td className="result">
    <span className= {match.player1Score>= match.player2Score ? "won" : "lost"}> {match.player1Score}</span>
    - <span className={match.player2Score>= match.player1Score ? "won" : "lost"}>  {match.player2Score}</span>
  </td>
</tr>
