<body>
  <div class="slotted-bracket">
    <div class="slotted-bracket-tier" style="height: 388px">
      <div class="bracket-tier-header">Upper Bracket</div>
      <div class="rounds">
        <div class="round">
          <div class="round-header" title="Collapse round" style="top: 0px">
            Opening round
          </div>
          <div class="slots" style="height: 324px">
            <div class="slot-wrapper" style="top: 20px">
              <div class="header">
                <span class="bold time-time">08:00</span
                ><span class="hide-collapsed time-date text-ellipsis"
                  >23rd Jun</span
                ><span class="show-collapsed time-date">23/06</span
                ><span class="hide-collapsed best-of-x">BO3</span>
              </div>
              <div class="match">
                <div class="team team1">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">paiN</span>
                </div>
                <div class="team team2">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">BHOP</span>
                </div>
              </div>
              <div class="exit down" style="height: 28px">
                <div class="entry down"></div>
              </div>
            </div>
            <div class="slot-wrapper" style="top: 103px">
              <div class="header">
                <span class="bold time-time">08:00</span
                ><span class="hide-collapsed time-date text-ellipsis"
                  >23rd Jun</span
                ><span class="show-collapsed time-date">23/06</span
                ><span class="hide-collapsed best-of-x">BO3</span>
              </div>
              <div class="match">
                <div class="team team1">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">ATK</span>
                </div>
                <div class="team team2">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">MIBR</span>
                </div>
              </div>
              <div class="exit up" style="height: 29px">
                <div class="entry up"></div>
              </div>
            </div>
            <div class="slot-wrapper" style="top: 186px">
              <div class="header">
                <span class="bold time-time">08:00</span
                ><span class="hide-collapsed time-date text-ellipsis"
                  >23rd Jun</span
                ><span class="show-collapsed time-date">23/06</span
                ><span class="hide-collapsed best-of-x">BO3</span>
              </div>
              <div class="match">
                <div class="team team1">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">GODSENT</span>
                </div>
                <div class="team team2">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">EG.CD</span>
                </div>
              </div>
              <div class="exit down" style="height: 28px">
                <div class="entry down"></div>
              </div>
            </div>
            <div class="slot-wrapper" style="top: 269px">
              <div class="header">
                <span class="bold time-time">08:00</span
                ><span class="hide-collapsed time-date text-ellipsis"
                  >23rd Jun</span
                ><span class="show-collapsed time-date">23/06</span
                ><span class="hide-collapsed best-of-x">BO3</span>
              </div>
              <div class="match">
                <div class="team team1">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">Brazen</span>
                </div>
                <div class="team team2">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image night-only" /><img
                      class="team-image day-only"
                    />
                  </div>
                  <span class="team-name text-ellipsis">Strife</span>
                </div>
              </div>
              <div class="exit up" style="height: 29px">
                <div class="entry up"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="round">
          <div class="round-header" title="Collapse round" style="top: 0px">
            Upper semi-finals
          </div>
          <div class="slots" style="height: 282px">
            <div class="slot-wrapper teams-undecided" style="top: 61px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit down long" style="height: 70px">
                <div class="entry down long"></div>
              </div>
            </div>
            <div class="slot-wrapper teams-undecided" style="top: 227px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit up long" style="height: 70px">
                <div class="entry up long"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="round"></div>
        <div class="round collapsed">
          <div class="round-header" title="Expand round" style="top: 0px">
            Upper final
          </div>
          <div class="slots" style="height: 199px">
            <div class="slot-wrapper teams-undecided" style="top: 144px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit down" style="height: 112px">
                <div class="entry down"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="round collapsed">
          <div class="round-header" title="Expand round" style="top: 0px">
            Grand final
          </div>
          <div class="slots" style="height: 324px">
            <div class="slot-wrapper teams-undecided" style="top: 269px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slotted-bracket-tier" style="height: 262px">
      <div class="bracket-tier-header">Lower Bracket</div>
      <div class="rounds">
        <div class="round">
          <div class="round-header" title="Collapse round" style="top: 0px">
            Lower round 1
          </div>
          <div class="slots" style="height: 198px">
            <div class="slot-wrapper teams-undecided" style="top: 20px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit straight">
                <div class="entry straight"></div>
              </div>
              <div class="wormhole-entry above fa fa-long-arrow-down">
                <div class="entry-connector"></div>
              </div>
              <div class="wormhole-entry below fa fa-long-arrow-down">
                <div class="entry-connector"></div>
              </div>
            </div>
            <div class="slot-wrapper teams-undecided" style="top: 123px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-multi-team-container">
                    <div class="slot-team-image-container candidate1">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                    <div class="slot-team-image-container candidate2">
                      <img class="team-image night-only" /><img
                        class="team-image day-only"
                      />
                    </div>
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit straight">
                <div class="entry straight"></div>
              </div>
              <div class="wormhole-entry above fa fa-long-arrow-down">
                <div class="entry-connector"></div>
              </div>
              <div class="wormhole-entry below fa fa-long-arrow-down">
                <div class="entry-connector"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="round">
          <div class="round-header" title="Collapse round" style="top: 0px">
            Lower semi-finals
          </div>
          <div class="slots" style="height: 178px">
            <div class="slot-wrapper teams-undecided" style="top: 20px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit down" style="height: 38px">
                <div class="entry down"></div>
              </div>
              <div class="wormhole-entry above fa fa-long-arrow-down">
                <div class="entry-connector"></div>
              </div>
            </div>
            <div class="slot-wrapper teams-undecided" style="top: 123px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit up" style="height: 39px">
                <div class="entry up"></div>
              </div>
              <div class="wormhole-entry above fa fa-long-arrow-down">
                <div class="entry-connector"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="round">
          <div class="round-header" title="Collapse round" style="top: 0px">
            Lower final
          </div>
          <div class="slots" style="height: 126px">
            <div class="slot-wrapper teams-undecided" style="top: 71px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img
                      src="/img/static/brackets/noLogo.png"
                      class="team-image"
                    />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit straight">
                <div class="entry straight"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="round collapsed">
          <div class="round-header" title="Expand round" style="top: 0px">
            Cons. final
          </div>
          <div class="slots" style="height: 126px">
            <div class="slot-wrapper teams-undecided" style="top: 71px">
              <div class="match">
                <div class="team team1 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
                <div class="team team2 team-tbd">
                  <div class="slot-team-image-container fixed-candidate">
                    <img class="team-image" />
                  </div>
                  <span class="team-name text-ellipsis">TBD</span>
                </div>
              </div>
              <div class="exit up" style="height: 176px">
                <div class="entry up"></div>
              </div>
              <div class="wormhole-entry above fa fa-long-arrow-down">
                <div class="entry-connector"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="round collapsed"></div>
      </div>
    </div>
    <iframe class="iframe-height-listener"></iframe>
  </div>
</body>
