<head>
  <div class="container-md event-cell">
    <div class="col event-logo"></div>
    <div class="col event-name-location-date">
      <div class="row event-name">
        <h3>Classic Tetris World Championships 2016</h3>
      </div>
      <div class="row event-location-date">
        <div class="col event-location">
          <h5>Portland Oregon, USA</h5>
        </div>
        <div class="col divider">
          <h5>|</h5>
        </div>
        <div class="col event-date">Oct 27th</div>
      </div>
    </div>
    <div class="col event-player-count">
      <div class="row event-player-count">
        <h3>32</h3>
      </div>
      <div class="row event-header-player">
        <h5>Players</h5>
      </div>
    </div>
    <div class="col event-prize">
      <div class="row event-prize">
        <h3>10,000 USD</h3>
      </div>
      <div class="row event-header-prize">
        <h5>Prize</h5>
      </div>
    </div>
    <div class="col event-lan">
      <div class="row event-LAN">
        <h3>LAN</h3>
      </div>
      <div class="row event-header-LAN"></div>
    </div>
  </div>
</head>
